@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://st3.depositphotos.com/3950183/16833/v/600/depositphotos_168335476-stock-video-night-sky-animated-background.jpg");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: white;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}



https://static.wikia.nocookie.net/dreamworksanimation/images/5/54/Galactic_Sky_%28background%29.jpg/revision/latest/scale-to-width-down/1200?cb=20240121212215